.forgot-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid var(--glass-border);
  border-radius: 12px;
  text-align: center;
  background: var(--glass);
  color: var(--dark);
  box-shadow: 0 1px 10px rgb(0, 0, 0) inset;
}

.forgot-password-container:hover {
  box-shadow: 0 1px 10px rgb(0, 0, 0);
}

.forgot-password-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.forgot-password-container button {
  padding: 10px 20px;
  background: transparent;
  color: var(--dark);
  margin: 15px;
  border: 1.5px solid var(--glass-border);
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.824);
}

.forgot-password-container button:hover {
  background: var(--primary);
  color: var(--light);
  box-shadow: 0 1px 10px rgb(0, 0, 0) inset;
}

.forgot-password-container .error {
  color: red;
  margin-top: 10px;
}

.forgot-password-container .message {
  color: green;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .forgot-password-container {
    width: 320px;
  }
}
