.header {
    padding: 10px 20px;
    background: var(--glass);
    color: var(--light);
    border-bottom: 1.5px solid var(--glass-border);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--light);
}

/* Toggle Icon */
.toggle-icon {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.toggle-icon span {
  height: 3px;
  width: 25px;
  background: var(--light);
  transition: all 0.3s ease;
}

.toggle-icon .middle.hidden {
  opacity: 0;
}

.toggle-icon .top.active {
  transform: translateY(9px) rotate(45deg);
}

.toggle-icon .bottom.active {
  transform: translateY(-9px) rotate(-45deg);
}

/* Nav links */
.header-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-nav a {
    padding: 2px 5px;
    border: 1px solid var(--glass-border);
    text-decoration: none;
    color: var(--light);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
    font-weight: 500;
}

.header-nav a:hover {
    box-shadow: 0 1px 5px rgb(0, 0, 0) inset;
    background: var(--primary);
    color: var(--light);
}


/* Responsive behavior */
@media (max-width: 768px) {
  .toggle-icon {
    display: flex;
  }

  .header {
    margin-bottom: 25px;
  }

  .header-nav {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 70px; left: 0; right: 0;
    background: var(--glass);
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav a {
    margin: 5px 0;
    font-size: 12px;
    padding: 3px 2px;
    font-weight: 400;
  }
}
