.landing-page {
  margin: 10px;
  text-align: center;
  align-content: center;
}

.hero {
  height: inherit;
}

.hero-info {
  color: var(--light);
  font-size: 1.5rem;
  text-shadow: -6px 4px 20px var(--dark);
  height: 100%;
}


@media (max-width: 600px) {
  .hero {
    margin-top: 30%;
    height: 100%;
  }
  .hero-info {
    font-size: 1rem;
  }
}