.login-container {
    margin: 20px auto;
    padding: 20px;
    background: var(--glass);
    border: 1.5px solid var(--glass-border);
    width: 300px;
    min-width: 200px;
    border-radius: 10px;
    color: var(--light);
    align-self: center;
  /* box-shadow: 0 1px 10px rgb(0, 0, 0) inset; */
}

/* .login-container:hover {
  box-shadow: 0 1px 10px rgb(0, 0, 0);
} */

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--light);
}

.error {
  background: var(--glass);
  color: #cc0000;
  border: 1px solid var(--glass-border);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
}

.login-form input {
  width: 93%;
  padding: 10px;
  background: transparent;
  border: 1.5px solid var(--glass-border);
  border-radius: 5px;
  color: var(--light);
}

.login-form input::placeholder {
  color: var(--light);
}

/* Login and Google button styles */
.login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: transparent;
  border: 1px solid var(--glass-border);
  color: var(--light);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: var(--primary);
  color: var(--light);
}

.google-login-btn {
  background: transparent;
  color: #333;
  border: 1px solid var(--glass-border);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.2s, color 0.2s;
}
.google-login-btn:hover {
  background: #4285f4;
  color: var(--light);
}

.extra-links {
  text-align: center;
  margin-top: 15px;
}

.extra-links a {
  color: var(--primary);
  text-decoration: underline;
}

.extra-links a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .login-container {
    width: 280px;
  }
}