.register-container {
  margin: 20px auto;
  padding: 20px;
  background: var(--glass);
  border: 1.5px solid var(--glass-border);
  width: 300px;
  min-width: 200px;
  border-radius: 10px;
  color: var(--light);
  align-self: center;
  /* box-shadow: 0 1px 10px rgb(0, 0, 0) inset; */
}

/* .register-container:hover {
  box-shadow: 0 1px 10px rgb(0, 0, 0);
} */

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--light);
}

.error {
  background: var(--glass);
  color: #cc0000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.register-form label {
  display: block;
  margin-top: 12px;
margin-bottom: 5px;
}

.register-form input {
  width: 93%;
  padding: 10px;
    background: transparent;
    border: 1.5px solid var(--glass-border);
    border-radius: 5px;
    color: var(--light);
}

.register-form input::placeholder {
  color: var(--light);
}

.register-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: transparent;
  color: var(--light);
  border: 1px solid var(--glass-border);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0 1px 5px rgb(0, 0, 0); */
}

.register-form button:hover {
  color: var(--light);
  background: var(--primary);
  /* box-shadow: 0 1px 5px rgb(0, 0, 0) inset; */
}

.register-form p {
  text-align: center;
  margin-top: 15px;
}

.register-form a {
  color: var(--primary);
  margin-left: 10px;
  text-decoration: underline;
}

.register-form a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .register-container {
    width: 280px;
  }
}