.register-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  background: var(--glass);
  color: var(--dark);
  border-radius: 10px;
  border: 1.5px solid var(--glass-border);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 10px rgb(0, 0, 0) inset;
}

.register-container:hover {
  box-shadow: 0 1px 10px rgb(0, 0, 0);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--dark);
}

.error {
  background: var(--glass);
  color: #cc0000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.register-form label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

.register-form input {
  width: 100%;
  padding: 9px;
  margin-top: 6px;
}

.register-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: transparent;
  color: var(--dark);
  border: 1px solid var(--glass-border);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.register-form button:hover {
  color: var(--light);
  background: var(--primary);
  box-shadow: 0 1px 5px rgb(0, 0, 0) inset;
}

.register-form p {
  text-align: center;
  margin-top: 15px;
}

.register-form a {
  color: var(--primary);
  margin-left: 10px;
  text-decoration: underline;
}

.register-form a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .register-container {
    width: 320px;
  }
}
