* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
    min-height: 100vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
}

/* Main content styles */
/* .hero {
    background: var(--primary);
    text-align: center;
    padding: 50px 20px;
    margin: 10px;
    height: 100%;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
} */