:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #e9edf1;
  --primary: #6366f1;
  --boarder: rgb(0, 0, 0);
  --glass: white;
  --glass-border: rgba(10, 10, 10, 0.968);
  --sub-heading: rgb(37, 35, 35); 
  --light: rgba(255, 255, 255, 0.977);
  --dark: #000000;
  --secondary: #8b5cf6;
  --accent: #ec4899;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  color: var(--light);
  box-sizing: border-box;
  /* background-image: url('/src/assets/image4.jpeg');
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  image-rendering: auto;
  filter: sepia(10%) contrast(100%); */
  background: var(--background);
  font-family: var(--font-family, system-ui, Avenir, Helvetica, Arial, sans-serif);
}
